.itemDetails{
  display: inline-block;
  width: 400px;
  text-align: left;
}

.title {
  display: block;
}

.image {
  border-radius: 50px;
  width: 100px;
  height: 100px;
  margin-right: 20px;
  float: left;
}

.kinds{

  min-height: 50px;
}

.kinds:after {
  clear: both;
}

.list{
  list-style-type: none;
  padding: 0;
}

.titleList{

  margin:  30px 0 0 0;
  font-size: 1.3em;
  font-weight: bold;
  text-align: center;
}

.song {
  clear: both;
  padding: 5px;
  margin: 5px 0px 0px 5px;
}

.audio{

  width: 100%;
}

li:not(:last-child){

  border-bottom: solid 1px #000;
}

@media (--small-viewport) {
  .itemDetails{
    background: #000;
    color: #FFF;
  }

  .song:not(:last-child) {
    border-bottom: solid 1px #FFF;
  }
}
